<h1 class="font"> Aplicación de Venta de Productos - Prueba Técnica Euromobilia </h1>
<section>
    <h2 class="font"> Elige una Opción para navegar en la App </h2>
  <div routerLink="/Familias" class="card">
    <div class="card-info">
      <img
        src="https://cdn3d.iconscout.com/3d/premium/thumb/product-5806313-4863042.png?f=webp"
        width="150"
      />
      <p class="title">Mantenimiento de Productos</p>
    </div>
  </div>
  <div routerLink="/Familias" class="card">
    <div class="card-info">
        <img
        src="image.png"
        width="150"
      />
      <p class="title">Mantenimiento de Familias</p>
    </div>
</div>
</section>
