<div class="container mt-5">
  <div class="row">
    <!-- Formulario -->
    <div class="mx-auto col-md-5">
      <h1 class="mb-4 text-center display-4 text-light">
        Registro de Familias
      </h1>
      <form class="p-4 bg-transparent border rounded shadow-lg text-light">
        <div class="mb-3">
          <label for="nombreFamilia" class="form-label"
            >Nombre de Familia</label
          >
          <input
            type="text"
            id="nombreFamilia"
            class="border-0 form-control floatin-label"
            placeholder="Ingrese nombre de familia"
          />
        </div>
        <div class="mb-3">
          <label for="usuarioIngreso" class="form-label"
            >Usuario de Ingreso</label
          >
          <input
            type="text"
            id="usuarioIngreso"
            class="border-0 form-control"
            placeholder="Ingrese usuario de ingreso"
          />
        </div>


        <div class="mb-4">
          <label for="estado" class="form-label">Estado</label>
          <select id="estado" class="form-select">
            <!-- Por tema de tiempo y de requerimiento se ha establecido fijo y no dinamico o cargado desde los datos
             TODO: Separar el Estado de la Entidad Familias
             Objetivo: Tener un catalogo de Estados y se puedan cargar dinamicamente desde la BD, permitiendo también
             un mejor mantenimiento.
            -->
            <option value=" " selected > Seleccione una Opción </option>
            <option value="1"> Activo </option>
            <option value="0"> Inactivo </option>

          </select>
        </div>
        <button type="submit" class="mt-3 btn btn-primary w-100">
          Registrar Familia
        </button>
      </form>

    </div>
    @let familia = Familias;

    <!-- Tabla de Familias -->
    <div class="col-md-5">
      <h2 class="mb-4 text-center text-light">Familias Registradas</h2>
      @if (Familias.length === 0) {
      <div class="text-center text-info">
        No se encontraron familias registradas.
      </div>
      } @else {
      <div class="table-responsive">
        <table
          class="table rounded table-dark table-striped table-hover"
          id="tablaFamilias"
        >
          <thead>
            <tr>
              <th>ID Familia</th>
              <th>Nombre de Familia</th>
              <th>Usuario de Ingreso</th>
              <th>Estado</th>
            </tr>
          </thead>
          <tbody>
            @for (familia of Familias; track familia) {
            <tr>
              <td>{{ familia.idFamilia }}</td>
              <td>{{ familia.nombreFamilia }}</td>
              <td>{{ familia.usuarioIngreso }}</td>
              <td> @if (familia.estado === 1) { Activo } @else { Inactivo } </td>
            </tr>
            }
          </tbody>
        </table>
      </div>
      }
    </div>
  </div>
</div>
